<div>
    <p>This diagram serves to help understanding the code on github.</p>
    <p> The system is pimarily designed to hook various technologies together. It does not solve a realword problem, and it's not intended to be performant or scalable. </P>
    <p> It is coded to be secure though.</p>
    <button src="arrow-left.jpg" onclick="ScrollVersion()">Scroll versions</button><br/>
    <img id="v12" class="image" src="/Content/Img/System_Layout-v12.png" />
    <img id="v11"  class="image"  src="/Content/Img/System_Layout-v11.png"  style="display:none;"/>
    <img id="v10"  class="image" src="/Content/Img/System_Layout-v10.png" style="display:none;"/>
</div>
<script>
    var current = 0;
    var imgs = ["#v12", "#v11","#v10"];
    function ScrollVersion()
    {
        $(".image").hide();
        current++;
        current = current % 3;
        $(imgs[current]).show();
    }
</script>
