
@using MVCFrontend.Helpers
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2>This is the view of the triggerLogExeption test class.</h2> 
a log exception has been triggered, and seeing this view implies that this exception has been swallowed, otherwise you would see an error page. 
<br />Swallowing or throwing log exceptions is configurable using the 'swallow Log exception'-setting.
<br />The swallow Log exception setting is currently set to @Configsettings.SwalloWLogExceptions()

