@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        <span>This site works with self signed certificates to enable a secure https. <br />
        To make it work, download this <a href="~/Content/download/it-arjan-root-CS.cer">root certificate</a> and add it to the trusted Root Certification Authorities in your local certificate store. <br />
        Then click Private (menu above) to access the secured area of this website.</span>
        @if (User.Identity.IsAuthenticated)
            {
            <span>You are logged on, click Private again to access the secured area.</span>
        }
        else
        {
            <span>You are not logged on. </span>
        }
        <p>
            <h2>Session variables</h2>
            @foreach (string key in Session.Keys)
            {
                <span><b>@key :</b></span><span>@Session[key].ToString()</span><br/>
            }
        </p>
    </p>
</div>

